@font-face {
    font-family: Chalkduster;
    src: url('Chalkduster.ttf');
}


.label{
	-fx-font-family: "Chalkduster";
	-fx-text-fill: white;
	-fx-font-size: 20.0px;
}

#pConfirm{
	-fx-background-image: url("background.jpg");
}
