#pane1, #pane2{
    -fx-background-image: url("background.jpg");
	-fx-padding:10.0px;
}

.label{
	-fx-font-family: "Chalkduster";
	-fx-text-fill: white;
	-fx-font-size: 20px;
}

#questionmark{
	-fx-padding: 10px;
}

.tooltip{
	-fx-font-size:14px;
}

.radio-button{
	-fx-font-family: "Chalkduster";
	-fx-text-fill: white;
	-fx-font-size: 13px;
}
